.version.aktuelles /* version checker */
{
	color: #000010;
	background-color: #8975FC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1437px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u3320
{
	z-index: 10;
	min-height: 157px;
	padding-bottom: 314px;
	background: transparent url("../images/welcome%20dinner%202.jpg") no-repeat center center;
	background-size: cover;
}

#u3320_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u3589
{
	z-index: 11;
	width: 361px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 100px;
	-pie-background: rgba(255,255,255,0.9);
}

#u3592-4
{
	z-index: 12;
	width: 361px;
	min-height: 74px;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: fira-sans-2, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3320-bw
{
	z-index: 10;
	min-height: 157px;
}

#u3462
{
	z-index: 17;
	height: 71px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 15px rgba(38,38,38,0.36000000000000004);
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	-pie-background: rgba(255,255,255,0.9);
}

#u3462-bw
{
	z-index: 17;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 471px;
}

#u7568
{
	z-index: 55;
	width: 84px;
	background-color: transparent;
	position: fixed;
	top: 471px;
	left: 0px;
}

#u7568_img
{
	padding-right: 13px;
}

.js #u7568.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#menuu3464
{
	z-index: 18;
	width: 830px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 488px;
	left: 65px;
}

#u5068
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5069
{
	width: 113px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u5069:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.1s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0.1s;
	transition-timing-function: ease;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u5072-4
{
	width: 87px;
	min-height: 24px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: fira-sans-2, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 13px;
}

#u5069:hover #u5072-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u5069.MuseMenuActive #u5072-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u5069:hover #u5072-4 p
{
	font-family: fira-sans-2, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u3472
{
	width: 174px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u3475
{
	width: 174px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u3475:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.1s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0.1s;
	transition-timing-function: ease;
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u3476-4
{
	width: 148px;
	min-height: 24px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: fira-sans-2, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 13px;
}

#u3475:hover #u3476-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u3475.MuseMenuActive #u3476-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u5069.MuseMenuActive #u5072-4 p,#u3475:hover #u3476-4 p
{
	font-family: fira-sans-2, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u3479
{
	width: 112px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 291px;
}

#u3482
{
	width: 112px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u3482.MuseMenuActive
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u3484-4
{
	width: 86px;
	min-height: 24px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: fira-sans-2, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 13px;
}

#u3482:hover #u3484-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3482.MuseMenuActive #u3484-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3475.MuseMenuActive #u3476-4 p,#u3482:hover #u3484-4 p
{
	font-family: fira-sans-2, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u3493
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 405px;
}

#u3494
{
	width: 190px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u3494:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.1s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0.1s;
	transition-timing-function: ease;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u3496-4
{
	width: 164px;
	min-height: 24px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: fira-sans-2, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 13px;
}

#u3494:hover #u3496-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 164px;
	margin: 0px -10000px 0px 0px;
}

#u3494.MuseMenuActive #u3496-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 164px;
	margin: 0px -10000px 0px 0px;
}

#u3482.MuseMenuActive #u3484-4 p,#u3494:hover #u3496-4 p
{
	font-family: fira-sans-2, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u3486
{
	width: 138px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 597px;
}

#u3489
{
	width: 138px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u3489:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.1s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0.1s;
	transition-timing-function: ease;
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u3491-4
{
	width: 113px;
	min-height: 24px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: fira-sans-2, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 12px;
}

#u3489:hover #u3491-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u3489.MuseMenuActive #u3491-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u3494.MuseMenuActive #u3496-4 p,#u3489:hover #u3491-4 p
{
	font-family: fira-sans-2, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u3465
{
	width: 93px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 737px;
}

#u3466
{
	width: 93px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u3466:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.1s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0.1s;
	transition-timing-function: ease;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u3467-4
{
	width: 68px;
	min-height: 24px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #303030;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: fira-sans-2, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 12px;
}

#u3466:hover #u3467-4
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u3466.MuseMenuActive #u3467-4
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u3489.MuseMenuActive #u3491-4 p,#u3466:hover #u3467-4 p
{
	font-family: fira-sans-2, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u3466.MuseMenuActive #u3467-4 p
{
	font-family: fira-sans-2, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5516
{
	z-index: 16;
	width: 500px;
	height: 901px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 500px;
	min-width: 180px;
	margin-left: 230px;
	margin-top: 111px;
	position: relative;
}

#pu6469-4
{
	width: 0.01px;
	margin-left: 67px;
	margin-top: 122px;
}

#u6469-4
{
	z-index: 2;
	width: 170px;
	position: relative;
	margin-right: -10000px;
}

#u6483-4
{
	z-index: 6;
	width: 79px;
	position: relative;
	margin-right: -10000px;
	left: 750px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 56px;
}

