#u6469-4
{
	background-color: transparent;
	font-family: fira-sans-2, sans-serif;
	font-weight: 500;
}

#u6483-4
{
	background-color: transparent;
	text-align: right;
	font-family: fira-sans-2, sans-serif;
	font-weight: 500;
}


